/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

body {     
  height: 100%; 
  line-height: 1.4em;
  margin: 0px;
  }

  #header {
  height: 120px;
  background-color: #81a0ee;
  }    


.java {
	height:200px;
	background-color: #25253a;
	color: white;
	padding-top: 60px;
	font-size: 40px;
	padding-left: 420px;
    padding-right: 440px;
}

.what {
	column-count: 2;
	width:1045px;
	height: 270px;
	border-color: black;
	background-color: #eee8e9;
	margin-left: 420px;
	margin-top: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.what ul {
   margin-left: 30px; 
}

.what ul li {   
    list-style: initial;      
}

.what h1 {
	font-size: 30px;
	padding-top: 10px;
	padding-left: 30px;
}

.what h3 {
	padding-left: 40px;
	padding-right: 30px;
}

.requirements {
    padding-left: 420px;
}

.description {
    padding-top: 20px;
    padding-left: 420px;
    width: 1465px;
}
